# Ignore Visual Studio Code files
.vscode/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore macOS files
.DS_Store

# Ignore node_modules (if using Node.js)
node_modules/

# Ignore environment files
.env

# Ignore log and doc files
*.log
*.docx

# Ignore temporary files
*.tmp

# Ignore system files
Thumbs.db
ehthumbs.db

# Ignore IDE files
*.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore build and distribution directories
build/
dist/